
#* * * * * OTHER * * * * *
*.zip
.metadata/
*.tmp

#* * * * * CPP * * * * *
.vs/
EclipseCpp/.vscode/
EclipseCpp/.metadata/
EclipseCpp/Cpp/.metadata/
EclipseCpp/Cpp/.settings/
EclipseCpp/Cpp/.vs/
EclipseCpp/Cpp/.cproject
EclipseCpp/Cpp/.project
EclipseCpp/Cpp/Cpp/
EclipseCpp/Cpp/x64/
EclipseCpp/Cpp/Debug/
EclipseCpp/Cpp/Cpp.sln
EclipseCpp/Cpp/Cpp.vcxproj
EclipseCpp/Cpp/Cpp.vcxproj.filters
EclipseCpp/Cpp/Cpp.vcxproj.user

#* * * * * JAVA * * * * *
EclipseJavaEE/.idea/
EclipseJavaEE/.metadata/
EclipseJavaEE/Java/Debug/
EclipseJavaEE/Java/bin/
EclipseJavaEE/Java/.idea/
EclipseJavaEE/Java/.settings/
EclipseJavaEE/Java/.project
EclipseJavaEE/Java/.classpath
EclipseJavaEE/Java/target/


#* * * * * KOTLIN * * * * *
EclipseKotlin/lib
EclipseKotlin/.idea/

#* * * * * PYTHON * * * * *
EclipsePy/py-funzies/.idea
EclipsePy/py-funzies/.venv