
*.zip

EclipseCpp/.metadata/
EclipseCpp/Cpp/.settings/
EclipseCpp/Cpp/Debug/
EclipseCpp/Cpp/.cproject
EclipseCpp/Cpp/.project


EclipseJavaEE/.metadata/
EclipseJavaEE/Java/.settings/
EclipseJavaEE/Java/Debug/
EclipseJavaEE/Java/.project
EclipseJavaEE/Java/.classpath
EclipseJavaEE/Java/bin/

EclipseKotlin/.metadata/
EclipseKotlin/Kotlin/.settings/
EclipseKotlin/Kotlin/Debug/
EclipseKotlin/Kotlin/.project
EclipseKotlin/Kotlin/.classpath
EclipseKotlin/Kotlin/bin/

EclipseKotlin/Kotlin/bin/META-INF/main.kotlin_module
EclipseKotlin/.idea/
EclipseKotlin/lib/
EclipseKotlin/.idea/kotlinc.xml
EclipseKotlin/.idea/libraries/KotlinJavaRuntime.xml
EclipseKotlin/.idea/misc.xml
EclipseKotlin/.idea/modules.xml
EclipseKotlin/Kotlin/Kotlin.iml
EclipseKotlin/.idea/vcs.xml
/.metadata/
